:root {
  --color-background: #121214;
  --color-cards: #202024;
}

* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
  font-family: sans-serif;

  border: none;
  outline: none;
}

body {
  background-color: var(--color-background);
}
